.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}

#myCanvas
{
   border-style: groove;
   border-color: darkgoldenrod;
   border-width: 7mm;
}

